{% extends "../base/base.html" %}
{% load static %}

{% block title%} Home{% endblock %} 



{% block content%} 

<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Preload -->
	
	<div id="loader_form">
		<div data-loader="circle-side-2"></div>
	</div><!-- /loader_form -->
	
	<header>
		<div class="container-fluid">
		    <div class="row">
                <div class="col-3">
                    <a href="index.html"><img src="{% static 'img/logo_in.png' %}" alt="" width="45" height="45"></a>
                </div>
                <div class="col-9 position-relative">
                    <div id="social">
                        <ul>
                            <li><a href="#0"><i class="icon-facebook"></i></a></li>
                            <li><a href="#0"><i class="icon-twitter"></i></a></li>
                            <li><a href="#0"><i class="icon-google"></i></a></li>
                            <li><a href="#0"><i class="icon-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <!-- /social -->
					<a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
					<!-- /menu button -->
                    <nav>
						<ul class="cd-primary-nav">
							<li><a href="index.html" class="animated_link">Version 1</a></li>
							<li><a href="index-2.html" class="animated_link">Version 2</a></li>
							<li><a href="index-3.html" class="animated_link">Version 3</a></li>
							<li><a href="about.html" class="animated_link">About Us</a></li>
							<li><a href="contacts.html" class="animated_link">Contact Us</a></li>
							<li><a href="https://1.envato.market/A6oJN" class="animated_link" target="_parent">Purchase Template</a></li>
						</ul>
					</nav>
					<!-- /menu -->
                </div>
            </div> 
		</div>
		<!-- /container -->
	</header>
	<!-- /Header -->


	
	<section class="parallax_window_in" data-parallax="scroll" data-image-src="{% static 'img/sub_header_about.jpg' %}" data-natural-width="1400" data-natural-height="800">
		<div id="sub_content_in">
			<h1>A Propos de caesarian</h1>
			<p>"Predire le risque d'accouchment  prématurée"</p>
			<br>

			<a href="login/" class="btn_1 white">Faire une prediction</a>
		</div>
	</section>
	<!-- /section -->

	<main id="general_page">
		<div class="container_styled_1">
			<div class="container margin_60_35">
				<div class="row">
					<div class="col-lg-6">
						<h2 class="nomargin_top">Naître à temps,<br>c'est vital</h2>
						<p class="lead">Caesarian est une application qui utilise l'intelligence artificielle pour prédire si une femme va accoucher prématurément ou non. L'application est basée sur un algorithme qui analyse un ensemble de données de facteurs de risque de prématurité.</p>
						<p>
							L'application est destinée à être utilisée par les <strong>femmes enceintes </strong>  leurs <strong>  prestataires de soins de santé </strong>. Elle peut aider les femmes à prendre des décisions éclairées concernant leur grossesse et à se préparer à la possibilité d'un accouchement prématuré. 

					</p>
						<p>Le modèle Caesarian pourrait être utilisé pour fournir aux prestataires de soins de santé une estimation du risque de prématurité pour une femme enceinte individuelle. Cette estimation pourrait être utilisée pour prendre des décisions concernant la prise en charge de la grossesse, telles que le suivi plus fréquent ou la prescription de médicaments pour aider à soutenir le col de l'utérus.</p>
					</div>
					<div class="col-lg-5 ml-lg-5 add_top_30">
						<img src=" {% static 'img/about.png' %}" alt="" class="img-fluid" width="500" height="500">
					</div>
				</div>
				<!-- End row -->
			</div>
		</div>
	
		  <div class="container margin_60">
			<div class="main_title">
				<h2><em></em>Meet Potenza Team</h2>
				<p>
					Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie. Sed ad debet scaevola, ne mel lorem legendos.
				</p>
			</div>	



			<!--Team Carousel -->
			<div class="row">
				<div class="owl-carousel owl-theme team-carousel">
					<div class="team-item">
						<div class="team-item-img">
							<img src="{% static 'img/team/team-1.png' %}" alt="">
							<div class="team-item-detail">
								<div class="team-item-detail-inner">
									<h4>CAESARIAN</h4>
									<p>La grossesse est une période de changements et de transformations.</p>
									<ul class="social">
										<li><a href="#0"><i class="icon-facebook"></i></a>
										</li>
										<li><a href="#0"><i class="icon-twitter"></i></a>
										</li>
										<li><a href="#0"><i class="icon-google"></i></a>
										</li>
										<li><a href="#0"><i class="icon-linkedin"></i></a>
										</li>
									</ul>
									<a href="#0" class="btn_1 white">View porfile</a>
								</div>
							</div>
						</div>
						
					</div> 

					<!-- /team-item -->
					
					<div class="team-item">
						<div class="team-item-img">
							<img src="{% static 'img/team/team-2.png' %}" alt="">
							<div class="team-item-detail">
								<div class="team-item-detail-inner">
									<h4>CAESARIAN</h4>
									<p>À toutes les femmes enceintes, je vous admire pour votre force et votre courage. Vous êtes des guerrières.</p>
									<ul class="social">
										<li><a href="#0"><i class="icon-facebook"></i></a>
										</li>
										<li><a href="#0"><i class="icon-twitter"></i></a>
										</li>
										<li><a href="#0"><i class="icon-google"></i></a>
										</li>
										<li><a href="#0"><i class="icon-linkedin"></i></a>
										</li>
									</ul>
									<a href="#0" class="btn_1 white">View porfile</a>
								</div>
							</div>
						</div>
						
					</div> 

					<!-- /team-item --> 
			
					<div class="team-item">
						<div class="team-item-img">
							<img src="{% static 'img/team/team-3.png' %}" alt="">
							<div class="team-item-detail">
								<div class="team-item-detail-inner">
									<h4>CAESARIAN</h4>
									<p>La grossesse est un miracle, un cadeau de la vie.</p>
									<ul class="social">
										<li><a href="#0"><i class="icon-facebook"></i></a>
										</li>
										<li><a href="#0"><i class="icon-twitter"></i></a>
										</li>
										<li><a href="#0"><i class="icon-google"></i></a>
										</li>
										<li><a href="#0"><i class="icon-linkedin"></i></a>
										</li>
									</ul>
									<a href="#0" class="btn_1 white">View porfile</a>
								</div>
							</div>
						</div>
					
					</div> 

					<!-- /team-item -->

				<div class="team-item">
						<div class="team-item-img">
							<img src="{% static 'img/team/team-4.png' %} " alt="">
							<div class="team-item-detail">
								<div class="team-item-detail-inner">
									<h4>CAESARIAN</h4>
									<p>La grossesse est un voyage de transformation, de croissance et de découverte.</p>
									<ul class="social">
										<li><a href="#0"><i class="icon-facebook"></i></a>
										</li>
										<li><a href="#0"><i class="icon-twitter"></i></a>
										</li>
										<li><a href="#0"><i class="icon-google"></i></a>
										</li>
										<li><a href="#0"><i class="icon-linkedin"></i></a>
										</li>
									</ul>
									<a href="#0" class="btn_1 white">View porfile</a>
								</div>
							</div>
						</div>
						
					</div>
					 		<!-- /team-item -->
				</div>
			</div>
			<!--End Team Carousel-->
		</div>
		<!-- End container -->
	</main> 

<main id="general_page">
		<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19864.623539539858!2d-0.1407216728393208!3d51.51178603603532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604cb878e81b3%3A0x91f10fa364452046!2sCovent+Garden%2C+Londra+WC2E+8BG%2C+Regno+Unito!5e0!3m2!1sit!2ses!4v1538380105649" width="600" height="450" allowfullscreen id="map_iframe"></iframe> -->
		<!-- end map-->
		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-8">
					<h3>Contact us</h3>
					<p>
						Mussum ipsum cacilds, vidis litro abertis.
					</p>
					<div>
						<div id="message-contact"></div>
						<form method="post" action="http://www.ansonika.com/potenza/assets/contact.php" id="contactform">
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label for="name_contact">First Name</label>
										<input type="text" class="form-control" id="name_contact" name="name_contact">
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label for="lastname_contact">Last Name</label>
										<input type="text" class="form-control" id="lastname_contact" name="lastname_contact">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label for="email_contact">Email</label>
										<input type="email" id="email_contact" name="email_contact" class="form-control">
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label for="phone_contact">Phone number</label>
										<input type="text" id="phone_contact" name="phone_contact" class="form-control">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="message_contact">Your message</label>
										<textarea rows="5" id="message_contact" name="message_contact" class="form-control" style="height:100px;"></textarea>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="verify_contact">Are you human? 3 + 1 =</label>
										<input type="text" id="verify_contact" class=" form-control">
									</div>
									<p><input type="submit" value="Submit" class="btn_1 add_bottom_15" id="submit-contact"></p>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- End col lg 9 -->
				<aside class="col-lg-4">
					<div class="box_style_2">
						<h4>Contacts info</h4>
						<p>
							11 Fifth Ave - New York, US
							<br> + 61 (2) 8093 3400
							<br>
							<a href="#">info@domain.com</a>
						</p>
						<h5>Get directions</h5>
						<form action="http://maps.google.com/maps" method="get" target="_blank">
							<div class="form-group">
								<input type="text" name="saddr" placeholder="Enter your location" class="form-control" style="background:none;">
								<input type="hidden" name="daddr" value="New York, NY 11430">
								<!-- Write here your end point -->
							</div>
							<input type="submit" value="Get directions" class="btn_1 add_bottom_15">
						</form>
						<hr class="styled">
						<h4>Departmens</h4>
						<ul class="contacts_info">
							<li>Administration
								<br>
								<a href="tel://003823932342">0038 23932342</a>
								<br><a href="tel://003823932342">admin@potenza.com</a>
								<br>
								<small>Monday to Friday 9am - 7pm</small>
							</li>
							<li>General questions
								<br>
								<a href="tel://003823932342">0038 23932342</a>
								<br><a href="tel://003823932342">questions@potenza.com</a>
								<br>
								<small>Monday to Friday 9am - 7pm</small>
							</li>
						</ul>
					</div>
				</aside>
				<!--End aside -->
			</div>
			<!-- end row-->
		</div>
		<!-- end container-->
	</main>
 	
	<footer class="clearfix">
		<div class="container">
			<p>© 2023 caesarian|YdobonAi </p>
			<ul>
				<li><a href="https://1.envato.market/A6oJN" target="_parent" class="animated_link">Lancer La Prediction</a></li>
				<li><a href="#0" class="animated_link">Conditions générales d'utilisation</a></li>
				<li><a href="#0" class="animated_link">Contacts</a></li>
			</ul>
		</div>
	</footer>
	<!-- end footer-->

	<div class="cd-overlay-nav">
		<span></span>
	</div>
	<!-- /cd-overlay-nav -->

	<div class="cd-overlay-content">
		<span></span>
	</div>

{% endblock%}